---
title: Who We Are
description: >-
   Our Journey and Our Amazing Members
---

<p>
	Generation Bitcoin is a community of teens focused on learning about Bitcoin together. The group started at the beginning of 2022, and the number of members has steadily increased since then.
	<br>
	<br>
	Autumn and Ishaana met at the NYC bitdevs meetups in September, and being the only teens there, they began to learn about Bitcoin together. They sent resources back and forth, and as time went on a third member was added and the method of learning was shifted to online weekly calls. As this little group started, the members realized that there weren’t any communities for teens like this out there. They knew that educating teens about bitcoin is vital as they will be the next generation taking this work forward. They wanted to create a community to help young people learn about bitcoin, hence the start of Generation Bitcoin.
</p>


<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
