.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
	a {
		display: block;
	}
}

nav {
	text-transform: uppercase;
	font-size: 1.3em;
	width: 100%;
	line-height: 78px;
	
	@include for-phone-only {
		font-size: 1.1em;
	}

	@include for-tablet-portrait-up {
		text-align: right;
		position: absolute;
		top: 13px;
		right: 0;
		padding: 0 20px;
	}


	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,1);
		transition: .2s ease-in-out;
		display: inline;

		@include for-phone-only {
			display: inline;
			padding: 10px;
		}

		@include for-tablet-portrait-up {
			display: inline;
			padding: 10px;
		}


		&.nav-toggle {
			display: none;
			position: absolute;
			right: 10px;
			top: -22px;
			font-size: 1.9em;
			border: 0;

			@include for-phone-only {
				display: none;
			}
	
			@include for-tablet-portrait-up {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		border-bottom: 1px solid rgba(255,255,255,.4);
		color: #fff;
	}

	@include for-tablet-portrait-up {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: $brand-color;
			}
		}
	}

	a.active {
		border-bottom: 1px solid rgba(255,255,255,.7);
	}

}
