.resource-list{
    padding: 40px;
}

.resource-list h1{
    text-align: center;
    color: darkorange;
    font-weight: 800px;
    padding-top: 15px;
    font-size:40px;
}

.resource-list i{
    text-align: center;
    color: darkorange;
    padding: 5px 15px 15px 15px;
}

.resource-list a{
    color: black;
    text-decoration: none;
}

.resource-list h2{
    font-size: 35px;
    font-style: italic;
}

.resource-list h3{
    font-size: 30px;
}

.resource-list p{
    font-size: 25px;
}

.resource-list ul{
    font-size: 25px;
}

.resource-list .easy{
    text-decoration: underline;
    text-decoration-color: darkorange;
}

.resource-list .hard{
    font-style:italic;
}

.badge-pill{
    background-color:orange;
    border-radius:25px;
    font-size: 0.75rem;
}

.card-img-top{
    height: 21rem;
    width: 17.2rem;
    margin-top: 1rem;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card{
    margin: 1rem;
    transition: transform .2s;
    display: flex;
}

.card:hover{
    transform: scale(1.02);
}