.resource-list{
    padding: 30px;
}

.resource-list h1{
    text-align: center;
    color: darkorange;
    font-weight: 1000px;
}

.resource-list a{
    color: darkorange;
    text-decoration: none;
}

.resource-list h3{
    font-size: 25px;
}

.resource-list ul{
    font-size: 20px;
}

.resource-list .easy{
    text-decoration: underline;
    text-decoration-color: darkorange;
}