<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet"> 

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="icon" type="image/png" href="/images/icon.png">
		<script src="https://kit.fontawesome.com/d97953f67a.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{{ content }}
	</body>
</html>
